
main {
    position: relative;
}

.quiz-items__wrapper {
    position: absolute;
    height: 20rem;
    width: 100%;
    overflow: hidden;

}   


.quiz-item__el {
    width: calc(100% - 1.25rem);
    height: 20rem;
    min-height: 20rem;
    position: relative;
    background-color: aliceblue;
    margin: .5rem auto;
    ::before {
        content: attr(data-id);
        display: block;
        position: absolute;
        background-color: red($color: #000000);
        font-size: large;
    }
 
}


.move-item {
    animation: moveUpDisappear .5s ease-in;
    display: none;
}

@keyframes moveUp {
    to {
        transform: translateY(-30rem);
    }
}

@keyframes moveUpDisappear {
    to {
        transform: translateY(-30rem);
        display: none;
    }
}
