@use "../../abstract/compilerfile" as *;

.result-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .25rem;
}

.result-body {
    --_spacing: .5rem;
    &__item {
        width: 75%;
        margin: var(--_spacing) auto;
        padding: .75rem;
        position: relative;
        border-radius: var(--_spacing);
    }

    &__item::after {
        content: "*";
        display: block;
        font-size: $header;
        position: absolute;
        top: calc(var(--_spacing) + var(--_spacing) * .02);
        left: calc(var(--_spacing) - var(--_spacing) * 1.5);
    }
}