@use "../../abstract/compilerfile" as *;

.result-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .25rem;
}

.result-body {
    &__item {
        width: 75%;
        margin: 0 auto;
        padding: .75rem;
        position: relative;
    }

    &__item::after {
        content: "*";
        display: block;
        font-size: $header;
        position: absolute;
        top: 0;
        left: 0;
    }
}