@use "../../abstract/compilerfile" as *;

.result-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .25rem;
}

.result-body {
    --_spacing: .5rem;
    --_content-spacing: 1.25rem;
    &__item {
        width: 75%;
        margin: var(--_spacing) auto;
        padding: var(--_content-spacing);
        position: relative;
        border-radius: var(--_spacing);

        svg {
            position: absolute;
            top: calc(var(--_spacing) + var(--_spacing) * .02);
            left: calc(var(--_spacing) - var(--_spacing) * 1.5);
        }
    }

}