@use '../../abstract/compilerfile' as *;
.quiz-title {
    text-align: center;
    font-size: $header;
    padding: .25rem;
    max-width: max-content;
    text-wrap: wrap;
    margin: 0 auto;

    max-width: 60rem;
    line-height: 2rem;

    text-transform: uppercase;
    font-weight: 800;
}

main {
    --_spacer: 1rem;
    --_height-choices: 7.5rem;
    --_input-choice__size: 1.25rem;
    max-width: 65rem;
    height: 32.5rem;
    min-height:32.5rem;
    margin: 1.5rem auto 0 auto;

    .quiz-modification__container {
        margin: 1.25rem 0 0 0;
        text-align: center;
        .main-label {
            font-size: $subheader;
        }
        label[for="timer"],label[for="item"] {
            display: block;
        }

        input[name="item"],input[name="timer"] {
            width: 45%;
           margin: 0 auto;
        }
    }

    .topic-choices__group {
        grid-auto-columns: 100%;
    } 
    .topic-choices__container {
        display: grid;
        gap: var(--_spacer);
        grid-auto-flow: column;
        grid-auto-columns: 25%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        padding: 0 var(--_spacer) var(--_spacer) var(--_spacer);
    
        &-sub {
            padding: .75rem;
            height: var(--_height-choices);
            min-height: var(--_height-choices);
            border: 1px solid black;
            border-radius: .25rem;

            display: grid;
            gap: var(--_spacer);
            grid-auto-flow: column;
            position: relative;
            align-items: center;
            justify-content: center;
           
            
            input[type="checkbox"]{
          
                width: var(--_input-choice__size);
                height: var(--_input-choice__size);
                background-color: white;
                z-index: 5;
            }

            label {
                z-index: 5;
            }
            img {
                object-fit: cover;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }

        &-sub::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        
            z-index: 2;

            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.2);   
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(1px);
            
        }
    }

    @media screen and (max-width: 700px){
        .topic-choices__container {
            grid-auto-columns: 50%;
        }
    }

    .snaps-inline {
        scroll-snap-type: inline mandatory;

    }

    .snaps-inline >* {
        scroll-snap-align: start;
        scroll-padding-inline: var(--_spacer);
    }

  

    .difficulty-radios__container {
        display: grid;
        gap: var(--_spacer);
        grid-auto-flow: column;
        grid-auto-columns: 30%;
        padding: 0 var(--_spacer) var(--_spacer) var(--_spacer);
        justify-content: space-around;
        &-sub {
           border: 1px solid black; 
            height: var(--_height-choices);
            min-height: var(--_height-choices);
            display: flex;
            align-items: center;
            justify-content: center;

            input[type="radio"]{
                width: var(--_input-choice__size);
                height: var(--_input-choice__size);
            }
        }
    }
}

